* {
  box-sizing: border-box;
  margin: 2px;
  padding: 0;
  font-family: sans-serif;
  /* display: grid;
  grid-template-columns: repeat(auto-fit,minmax(12rem,16rem)); */
  background-color: rgb(218, 227, 228)
}
